<div class="p-wrap">
    <div class="head mb-4 pb-3 border-bottom">
        <h1 class="title">Thông tin sản phẩm</h1>
        <a href="/product/create" class="create-prd btn btn-success">Thêm sản phẩm</a>
    </div>
    <div class="filter border-bottom py-4">

    </div>
    <table class="table">
        <thead>
            <tr>
            <th scope="col" class="px-3">Loại</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Thương hiệu</th>
            <th scope="col">Ngày sản xuất</th>
            <th scope="col">Giá bán</th>
            <th scope="col" colspan="3">Sale</th>
            </tr>
        </thead>
        <tbody>
            {{#each product}}
                <tr>
                    <th scope="row" class="px-3">{{this.type}}</th>
                    <td>{{this.name}}</td>
                    <td class="w-10">{{this.brand}}</td>
                    <td class="w-15">{{formatDate this.date}}</td>
                    <td class="w-10">{{this.price}}</td>
                    <td class="w-5">{{this.sale}}%</td>
                    <td><a href="/product/{{this._id}}/edit" class="text-primary px-3">Sửa</a></td>
                    <td><a href="" class="text-danger" id="delete" data-bs-toggle="modal" data-bs-target="#delete-modal" data-id="{{this._id}}">Xóa</a></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<form name="delete-form" method="POST"></form>

{{!-- Confirm delete --}}
<div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa sản phẩm</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn chắc chắn muốn xóa sản phẩm này?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="confirm-delete">Xóa</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const deleteForm = document.forms['delete-form'];
        const confirmDelete = document.getElementById('confirm-delete');
        var coffeeId;

        $('#delete-modal').on('show.bs.modal', function (e) {
          coffeeId = e.relatedTarget.dataset.id
        })  

        confirmDelete.onclick = function () {
          deleteForm.action = '/product/' + coffeeId + '?_method=DELETE'; 
          deleteForm.submit()
        }
    })

</script>

